.page-color {
    background: #EEE1CC;
    background: #102E4C;
    background: #234C6C;
    background: #398D47;
    background: #84CBDD;
    background: #D0E2F3;
}

nav {
    background-color: #102E4C !important;
    color: white !important;
}
nav a {
    color: #D0E2F3;
}

nav ul li a {
    color: #D0E2F3;
}

.color {
    color: #D0E2F3 !important;   
}

.btn-login {
    background: #102E4C;
    color: white;
}

.btn-search {
    background: #398D47;
    color: white;
}