<div class="container-card mt-4">
  <div>
    <h4>
      Videos
    </h4>
  </div>
  <div>
    <div style="text-align:center">
      <!-- <input type="file" #file name="video" id="video" accept="video/*" multiple> -->
      <label class="custom-file-upload mb-2">
        <input type="file" #file name="video" id="video" accept="video/*" multiple />
        Upload File
      </label>
      <input type="button" class="btn btn-info mr-4 ml-4 mb-2" value="Load video" (click)="start(file.files);">
      <button type="button" class="btn btn-success mb-2" (click)="videoUpload()">Upload video</button>
    </div>
  </div>
  <div class="wrap mb-4">
    <div *ngFor="let video of videos">
      <div class="box one">
        <div class="date">
          <h4>6/29/18</h4>
        </div>
        <h1 (click)="loadVideo(video)">Watch Video {{video?.uri}}</h1>
        <p style="color:aliceblue">{{video?.link}}</p>
      </div>
    </div>
  </div>
  <div class="wrap">
    <div  id="videosnew"></div>
  </div>
</div>




<!-- <div style="text-align:center">
  <input type="file" #file name="video" id="video" accept="video/*" multiple>
  <input type="button" value="Upload" (click)="start(file.files);">
</div>

<button type="button" (click)="videoUpload()">Upload video</button>
<h2>Show videos</h2>
<div *ngFor="let video of videos">
  <h1>{{video.name}}</h1>
  <div [innerHTML]="video?.embed">
  </div>
</div> -->
<!-- <iframe
  src="https://player.vimeo.com/video/332896596?title=0&byline=0&portrait=0&badge=0&autopause=0&player_id=0&app_id=147162"
  width="320" height="240" frameborder="0" title="video two" allow="autoplay; fullscreen" allowfullscreen></iframe> -->

<!-- <iframe src="https://flix555.com/embed-7mafd36o0jvf.html" scrolling="no" frameborder="0" width="700" height="430" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe> -->